*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	transition: all .2s ease;
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
}
*:hover{
	transition: all .2s ease;
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
}
.cf {
	content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}
.cf {
    *zoom: 1;
}
.wrap {
	width:100%;
	max-width: 1000px;
	padding:0 20px;
	margin:auto;
	position: relative;
}
.tablet {
	display: none;
}
.desktop {
	display: none;
}
.left{
	float: left;
}
.right{
	float: right;
}
h1 {
	font:72px 'futura-pt', verdana, sans-serif;
	color: #fff;
}
h2 {
	font:700 italic 25px/35px 'adobe-caslon-pro', verdana, sans-serif;
	color: #fff;	
}
h3 {
	font:28px 'futura-pt', verdana, sans-serif;
	color: #487497;
	text-align: center;
}
h5 {
	font:bold 20px 'futura-pt', verdana, sans-serif;
	color: #487497;
	text-transform: uppercase;
}
h6{
	font: 700 12px/40px 'futura-pt', verdana, sans-serif;
	color: #71b4d5;
	letter-spacing: 2px;
	margin-bottom: 12px;
	text-transform: uppercase;
}
p {
	font:18px/24px 'adobe-caslon-pro', serif;
	color: #fff;
	padding: 7px 0;
}
a {
	text-decoration: none;
}
small {
	font: 12px 'adobe-caslon-pro', serif;
	color: #fff;
}
ul li {
	list-style-type: none;
	padding-left: 25px;
	position: relative;
	color: #666;
}
ul li:before {
	content: "\2022";
	display: block;
	position: absolute;
	left:10px;
	color: #487497;
}
label {
	font: 18px/23px 'adobe-caslon-pro', serif;
    color: #71b4d5;
    padding: 12px 0 0px;
	width: 100%;
	display: block;
}
input[type='text'], input[type='email']{
	font:16px/20px 'adobe-caslon-pro', serif;
	color: #333;
	height: 30px;
	padding-left: 10px;
	width: 100%;
	width: 100%;
	border-radius: 3px;
	display: block;
}

.button {
	width:140px;
	height: 40px;
	color: #999;
	border:1px solid #999;
	border-radius: 30px;
	letter-spacing: 2px;
	display: inline-block;
	font: bold 14px/38px 'futura-pt', verdana, sans-serif;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
}
.button:hover{
	background: transparent;
	border:1px solid #487497;
	color:#487497;
}
nav {
	background: #fff;
	position: fixed;
    z-index: 10000;
    width: 100%;
    top: 0;
}
nav .mobile {
	position: relative;
	z-index: 1000;
	height: 40px;
	overflow: hidden;
}
#menu{
	width: 20px;
	height: 15px;
	position: absolute;
	right: 20px;
	top:50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	cursor: pointer;
}
#menu span {
	display: block;
	position: absolute;
	height: 3px;
	width: 20px;
	background: #487497;
	border-radius: 9px;
	opacity: 1;
	right: 0;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
}
#menu span:nth-child(1) {
  top: 0px;
}

#menu span:nth-child(2),#menu span:nth-child(3) {
  top: 6px;
}

#menu span:nth-child(4) {
  top: 12px;
}

#menu.open span:nth-child(1) {
  top: 12px;
  width: 0%;
}

#menu.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#menu.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#menu.open span:nth-child(4) {
  top: 12px;
  width: 0%;
}

.nav {
	width:200px;
	background: #487497;
	position: absolute;
	height: 400px;
	right: -200px;
	padding-top: 30px;
}
.nav.open {
	right: 0;
}
.social a {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	text-decoration: none;
	background: #71b4d5;
	cursor: pointer;
	display: inline-block;
	margin-left: 5px;
}
.social a:before {
	color:#fff;
	padding: 7px;
	line-height: 30px;
}
.social a:hover{
	background: #487497;
}
.social a:hover:before{
	color: #fff;
}
.secondary{
	position: absolute;
	bottom:0;
}
.secondary .right a {
	font: bold 10px 'futura-pt', verdana, sans-serif;
	text-transform: uppercase;
	color: #fff;
	display: block;
	float: left;
    width: 100%;
    margin-left: 10px;
    line-height: 26px;
}
.secondary .right a.button {
	width: 70%;
	border-color: #fff;
	line-height: 40px;
}
.secondary .left {
    position: absolute;
    bottom: 20px;
    width: 200px;
}
.secondary .social a:first-of-type {
	margin-left: 10px;
}
.secondary .right {
    position: absolute;
    bottom: 73px;
    width: 200px;
}
.primary a {
	text-transform: uppercase;
	font: bold 14px/28px'futura-pt', sans-serif;
	color: #fff;
	display: block;
}
footer {
	background:#487497;
	line-height: 65px;
}
footer .wrap {
	height:65px;
}
footer .wrap .h {
	font-size: 24px;
    line-height: 21px;
    border: 2px solid #fff;
    display: block;
    left: 0;
    text-align: center;
    padding: 6px 0 6px;
    color: #fff;
    width: 35px;
    text-decoration: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
}
footer .social {
	position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    height: 44px;
}
footer .social a:before {
	position: absolute;
	line-height: initial;
}
footer .primary {
	position: absolute;
	right:0;
	left:0;
	top: 0;
	height: 65px;
}
footer .primary .wrap {
	width: 450px;
	height: 65px
}
footer .primary a {
	color: #fff;
	font-size: 10px;
	line-height: 65px;

}

/*Home*/
.home img {
	width: 30px;
	left:15px;
	position: absolute;
	top:50%;
	transform: translateY(-50%);
}
.hero {
	z-index: 1000;
	margin-top: 0px;
	overflow: hidden;
}
.hero .wrap{
	background: url('../img/header.png') no-repeat;
	background-size: 100% 250px;
	height: 250px;
	padding: 0px 15px;
}
#hero, #hero .owl-stage-outer{
	height: 100%;
    padding-top: 20px;

}
#hero .owl-stage{
	height: 100%;
}
#hero .owl-item:not(.center) img {
	width: 200px;
	margin: auto;
    transition: all 2s ease;
    -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    margin-top: 50px;
}
#hero .owl-item.center img {
	width: 300px;
	height: auto;
	position: absolute;
    left: 50%;
    transition: all 1.5s ease;
    -webkit-transition: all 1.5s ease;
    -moz-transition: all 1.5s ease;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
}
.num {
	font:bold 12px 'futura-pt', arial, sans-serif;
	color: #fff;
	margin-left: 78px;
	margin-top: -28px;
}
#hero .owl-nav{
	color: #fff;
}
#hero .owl-nav .owl-prev, #hero .owl-nav .owl-next{
    position: absolute;
    bottom: 15px;
    display: block;
    width: 10px;
    height:10px;
    border:2px solid #fff;
    border-bottom: none;
    border-left: none;
}
#hero .owl-nav .owl-prev:hover, #hero .owl-nav .owl-next:hover{
	border-color: #71b4d5;
}

#hero .owl-nav .owl-prev{
	left: 50px;
	transform: rotate(-134deg);
	-webkit-transform: rotate(-134deg);
	-moz-transform: rotate(-134deg);
}
#hero .owl-nav .owl-next{
	left: 120px;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
}
.hero .wrap:after {
	content: '';
	display: block;
	width: calc(100% - 29px);
	width: -webkit-calc(100% - 29px);
	width: -moz-calc(100% - 29px);
	height: calc(100% - 29px);
	height: -webkit-calc(100% - 29px);
	height: -moz-calc(100% - 29px);
	border:15px solid #fff;
	opacity: 0.8;
	position: absolute;
    top: 0;
    left: 0;
}
.hero .right, .hero .right img{
	width: 100%;
}
.hero .right {
	padding:20px;
}
.hero .right img{
	-moz-box-shadow: 0px 2px 37px #666;
	-webkit-box-shadow: 0px 2px 37px #666;
	box-shadow: 0px 2px 37px #666;
}

.container {
	background: #f3f3f3 url('../img/content.png') no-repeat ;
	margin-top: -150px;
	padding-top: 160px;
	padding-bottom: 40px;
}
.words h3 {
	padding: 100px 0;
}

.book .right {
	background: #487497;
	padding: 45px;
	float: none;
}
.book .right h3 {
	color: #bbd6d9;
	text-align: left;
	font-style: 24px;
	font-weight: normal;
}
.book h5 {
	color: #71b4d5;
	font-size:12px;
}
.book .button {
	background: #71b4d5;
	color: #fff;
	border-color: #71b4d5;
	font-size: 12px;
}
.book .button:hover {
	background: transparent;
	color:  #71b4d5;
}
.book .left {
	background: #e6e4e0 url('../img/book-left.png') no-repeat;
	background-size: cover;
	float: none;
	overflow: hidden;
	position: relative;
	min-height: 400px;
}
.book .left img {
	width: 100%;
	width: 100%;
    bottom: 40px;
    position: absolute;
    right: 16%;
}
.book .left:after {
	content: '';
	width: calc(100% - 30px);
	width: -webkit-calc(100% - 30px);
	width: -moz-calc(100% - 30px);
	height: calc(100% - 29px);
	height: -webkit-calc(100% - 29px);
	height: -moz-calc(100% - 29px);
	display: block;
	border:15px solid #fff;
	opacity: 0.4;
	position: absolute;
    top: 0;
    left: 0;
}

.review .wrap {
	background: url('../img/Reviews.png') no-repeat;
	height: 455px;
	background-size: cover;
	margin:40px auto;
	padding: 35px;
}
.review .wrap:after {
	content: '';
	width: calc(100% - 70px);
	width: -webkit-calc(100% - 70px);
	width: -moz-calc(100% - 70px);
	height: calc(100% - 69px);
	height: -webkit-calc(100% - 69px);
	height: -moz-calc(100% - 69px);
	display: block;
	border:15px solid #fff;
	opacity: 0.4;
	position: absolute;
    top: 20px;
    left: 20px;
}
#testimonials {
	margin: auto;
}
#testimonials, #testimonials.owl-stage-outer {
	height: 200px;
	margin-top: auto;
	height: 100% !important;

}
#testimonials p {
	font: normal 21px 'futura-pt', arial, sans-serif;
	text-align: center;
	margin:auto;
	display: block;
}
#testimonials .owl-item {
	height: 100%;
	display: table;
}
#testimonials .item {
    padding-top: 75px;
}
#testimonials .item:before {
	content: '"';
    position: absolute;
    font: italic 125px 'futura-pt';
    transform: rotate(205deg);
    -webkit-transform: rotate(183deg);
    -moz-transform: rotate(205deg);
    color: #fff;
    right: 0;
    left: 0;
    top: -67px;
    margin: auto;
    width: 50px;
}
#testimonials h6 {
	font-size: 12px;
	line-height:12px;
	color:#487497;
	text-align: center;
	padding-top: 15px;
}
#testimonials .owl-dots{
	position: absolute;
	width: 30px;
	left:0;
	right:0;
	margin:auto;
}
#testimonials .owl-dots .owl-dot {
	width: 10px;
	margin:0 2px;
	display: inline-block;
}	
#testimonials .owl-dots .owl-dot span {
	height: 10px;
	width: 10px;
	display: block;
	border:1px solid #fff;
	border-radius: 50%;
	margin-bottom: 5px;
}
#testimonials .owl-dots .owl-dot.active span {
	background: #fff;
}

.kathy .wrap {
	background: url('../img/kathy-back.jpg')no-repeat;
	position: relative;
	padding:30px 10px 70px;
	margin-bottom: 40px;
	background-size: cover;
}

.kathy img {
	height: 50;
	position: absolute;
	right: 0;
	top: 0;
    margin: auto;
    display: none;
}

.kathy p{
	font: italic 20px 'adobe-caslon-pro';
	text-transform: none;
	color: #424e74;
	text-align: center;
}
.kathy h3 {
	color: #fff;
	font-size: 36px;
}
.quote img {
	width: 300px;
	display: block;
	bottom: 0;
    margin: 0;
    position: absolute;
    top: auto;
}
.news .wrap {
    padding: 20px;
    margin: 20px auto 40px;
    background: url('../img/newsletter.png') no-repeat 100% 100%;
    background-size: cover;
	-moz-box-shadow: 0px 2px 37px #666;
    -webkit-box-shadow: 0px 2px 37px #666;
    box-shadow: 0px 2px 37px #666;
}
.news p {
	color:#487497;
	font-size:21px;
}
.news h6 {
	line-height: 24px;
	margin: 0;
}
.news #mc_embed_signup .button{
	width: 210px;
	height: 50px;
	letter-spacing: 1;
	font-weight: bold;
	margin-left: 0;
}
.news #mc_embed_signup .mc-field-group input{
	
	height: 50px;
	padding:10px;
	color:#999999;
	font:18px 'adobe-caslon-pro', serif;
	border-radius: 30px;
	border-color: #d9d9d9;
}
.news #mc_embed_signup .mc-field-group input:focus {
	border-color: #d9d9d9;
}
.buy .popup {
	width:300px;
	-moz-box-shadow: 0px 2px 37px #666;
	-webkit-box-shadow: 0px 2px 37px #666;
	box-shadow: 0px 2px 37px #666;
}
.whisper .wrap {
	background: url('../img/whats-your-whisper.png') no-repeat;
	background-size: cover;
	padding: 40px 20px;
}
.whisper .wrap:after {
	content: '';
	width: calc(100% - 30px);
	width: -webkit-calc(100% - 30px);
	width: -moz-calc(100% - 30px);
	height: calc(100% - 29px);
	height: -webkit-calc(100% - 29px);
	height: -moz-calc(100% - 29px);
	display: block;
	border:15px solid #fff;
	opacity: 0.4;
	position: absolute;
    top: 0;
    left: 0;
 }
.whisper span {
	color: #fff;
	width: 100%;
	font: 72px 'futura-pt', sans-serif;
	text-align: center;
	display: inline-block;
}
.whisper .button {
	color: #fff;
	border-color: #fff;
	text-align: center;
	display: block;
    margin: 20px auto 0;
    z-index: 10;
    position: relative;
}
.whisper .button:hover {
	color: gray;
	background: #fff;
}
.buy .button {
	margin: 20px auto 0;
}
.buy .popup {
	height:320px;
	overflow: hidden;
	top:50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	padding: 20px;

}
.buy .popup span {
	right:20px;
	top:15px;
	z-index: 1000;
	color:#487497;
}
.buy .popup .button {
	width:150px;
	height:40px;
	line-height: 40px;
	margin: 20px auto;
	display: block;
	float: none;

}
.pop {
	letter-spacing: 1px;
}
.popup {
	position: fixed;
	z-index: 10000;
	background: #fff;
	margin:10px;
	padding:10px;
	top:0;
	left: 0;
	right:0;
	margin: 0 auto;
	bottom: 0;
	overflow: scroll;
	display: none;
	max-width: 800px;
	-moz-box-shadow: 0px 2px 37px #666;
	-webkit-box-shadow: 0px 2px 37px #666;
	box-shadow: 0px 2px 37px #666;
}

.popup span {
	position: absolute;
	top:10px;
	right:10px;
	display: block;
	cursor: pointer;
	background-color: #fff;
	color: #487497;
	
	text-align: center;
    height: 26px;
    border-radius: 50%;
    border: 1px solid #487497;
    width: 26px !important;
	font: 700 20px/18px 'futura-pt', verdana, sans-serif !important;
}

.popup span:hover{
	color: #fff;
	background: #487497;
}
.popup p {
	color: #487497;
}
.popup.open {
	display: block;
}
/*ABOUT
_________________________*/
.about .hero {
	margin-top: 40px;
	position: relative;
	z-index: 1;
}
.about .words h3, .contact .words h3 {
	font-size: 14px;
	padding: 15px 0 0;
}
.about .hero .wrap{
	background:url('../img/mom_dad.png') no-repeat center;
}
.about .words, .contact .words {
	background: rgba(255,255,255,0.8);
	position: absolute;
	bottom:14px;
	left:15px;
	width: calc(100% - 29px);
	width: -webkit-calc(100% - 29px);
	width: -moz-calc(100% - 29px);
}
.about h3, .contact h3 {
	text-align: center;
}
.about .bio h3, .contact .bio h3 {
	text-align: left;
	margin-bottom: 5px;
}
.about h6 {
	margin-bottom: 7px;
}

.about p, .about ul li, .contact p, .contact ul li {
	color: #666666;
	font:18px 'adobe-caslon-pro', serif;
}
.about ul li {
	color: #487497;
}

.about .container a {
	color:#487497;
	text-decoration: underline;
}
.about .container a:hover {
	text-decoration: none;
}
.awards h6 {
	line-height: 16px;
	margin-top: 45px;
	margin-bottom: 15px;
}
.pop-let {
	position: relative;
    width: 300px;
    display: block;
    padding-left: 110px;
    font: 700 12px/70px 'futura-pt', verdana, sans-serif;
    color: #487497;
    text-transform: uppercase;
    text-decoration: none;
    margin-top: 45px;
    margin-bottom: 110px;
}
.pop-let:before {
	content: '';
    height: 70px;
    width: 90px;
    background: url('../img/feather.png') no-repeat;
    background-size: contain;
    position: absolute;
    left: 0;
}
.pop-let:after {
	content: '';
    height: 15px;
    width: 15px;
    background: url('../img/arrow.png') no-repeat;
    background-size: contain;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    right: 0;
}
/* BOOK
_______________*/
.container.thsh .hero{
	background: url('../img/header-book.png') no-repeat;
	background-size: cover;
	padding:0;
	position: relative;
}
.thsh.container > .wrap {
	padding:0;
}
.thsh .hero:after {
	content: '';
	display: block;
	width: calc(100% - 30px);
	width: -webkit-calc(100% - 30px);
	width: -moz-calc(100% - 30px);
	height: calc(100% - 29px);
	height: -webkit-calc(100% - 29px);
	height: -moz-calc(100% - 29px);
	border:15px solid #fff;
	opacity: 0.5;
	position: absolute;
    top: 0;
    left: 0;
}
.thsh .hero .left, .thsh .hero .right {
	float: none;
}
.thsh .hero .left {
	padding:20px 30px;
}
.thsh .hero .right {
	margin: auto;
}
/* Contact */
.contact .hero .wrap{
	background:url('../img/contact-kathyizard.png') no-repeat center;
}
.feeds .wrap {
	padding:0;
}
#twitter-widget-0 {
	max-height: 228px !important;
	overflow: hidden;
}
.t-timeline {
	background:#487497;
	border:15px solid #7697b1;
	width: 100%;
	padding:50px 30px;
	float:left;
}
.i-timeline {
	background: #bbd6d9;
	border:15px solid #cce0e3;
	padding:50px 30px;
	float:left;
	width: 100%;
}
.i-timeline h6 {
	text-align: center;
	margin-top:18px;
	line-height: 12px;
}
.i-timeline h6 a{
	color:#487497;
	position: relative;
}
.contaienr .i-timeline h6 a:hover, .container .t-timeline h6 a:hover{
	text-decoration: underline;
}
.t-timeline h6 {
	padding-left: 10px;
	margin:0;
	line-height: 12px;

}
.container .t-timeline h6 a, .container .i-timeline h6 a {
	color: #71b4d5;
	position: relative;
	text-decoration: none;

}
.t-timeline h6 a:before, .i-timeline h6 a:before {
	position: absolute;
	right:-30px;
	font-weight: bold !important;
	font-size: 16px;
	top: 0;
}
/*Fonts*/
@charset "UTF-8";

@font-face {
  font-family: "kathy-izard";
  src:url("../fonts/kathy-izard.eot");
  src:url("../fonts/kathy-izard.eot?#iefix") format("embedded-opentype"),
    url("../fonts/kathy-izard.woff") format("woff"),
    url("../fonts/kathy-izard.ttf") format("truetype"),
    url("../fonts/kathy-izard.svg#kathy-izard") format("svg");
	  font-weight: normal;
	  font-style: normal;

}
[data-icon]{
	height:30px;
	width:30px;
	background: #71b4d5;

}
[data-icon]:before {
  font-family: "kathy-izard" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "kathy-izard" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-facebook:before {
  content: "\61";
}
.icon-facebook:hover:before {
  color: black;
}
.icon-twitter:before {
  content: "\62";
}
.icon-instagram:before {
  content: "\63";
}
.icon-envelope:before {
	padding:5px !important;
	padding-top: 0px !important;
}

