/****** 
Columnn Styles 
******/

.wrap {
	width: 100%;
}

.col1,
.col2 {
	margin-top: 40px;
	width: 100%;
}

/* QUOTES COLUMN */

.quote-block .blockquote {
	color: #9AB0C3;
}

.quote-block {
	line-height: 1px;
	padding-bottom: 1px;
}

.quote-block p {
		color: #9AB0C3;
	}

.quote-block h6 {
	line-height: 2px;
	margin-bottom: 32px;
	font:12px 'futura-pt', verdana, sans-serif;
	color: #9DCCE2;
}


blockquote {
	margin: 1.5em 10px;
	padding: 0.5em 10px;
	quotes: "\201C""\201C""\201C""201C";

}

blockquote:before {
	color: #62B5D8;
	content: open-quote;
	font-size: 4em;
	line-height: 0.1em;
	margin-right: 0.25em;
	vertical-align: -0.4em;
}

blockquote {
	display: inline;
}

/* PRE-ORDER BOX */

.pre-order {
	background-color: #3F7398;
	box-sizing: border-box;
	-webkit-box;
	width: calc(100% - 30px);
	width: -webkit-calc(100);
	margin: 15px;

}

.pre-order .order {
	color: #fff;
	background-color: #61B5D7;

}

.container-box {
	margin: 0 auto;
	text-align: left;
	height: 300px;
	padding: 15px;
}

/*pre-order button*/

.order {
	display: block;
	margin: 0 auto;
	color: #61B5D7;
	width: 50%;
	height: 60px;
	border-style: none;
	line-height: 4em;
}

.headline {
	font-family:'futura-pt', serif;
	font-size: 28px;
	margin: 15px;
	color: #B5D7DA;

}

.earlyorder {
	font: 18px/24px'adobe-caslon-pro', verdana, sans-serif;
	color: #fff;
	line-height: 20px;
	
}


/* AUTHOR VIDEO BOX */

.video {
	position: relative;
	width: calc(100% - 30px);
	height: 175px;
	margin: 15px;
	
}

.videoimage {
	display: block;
	margin: 0 auto;
}

.icon-container h6 {
	position: absolute;
	bottom: 15px;
	left: 125px;
	color: #fff;	
}




/* READERS GUIDE */

.readersguide {
	background-color: #BCD8D7;
	width: calc(100% - 30px);
	height: 85px;
	margin: 15px;
}	

.readersguide h6 {
	color: #3F7398;
}

.icon-box {
	text-align: center;
	width: 50%px;
	height: 40px;
}


.icon-box::before {
	content: url(..assets/img/bookicon.png);
}

.icon-box::after {
	content: url(..assets/img/arrowright.png);
	
}







