@media screen and (min-width: 1000px){

	.thsh .hero .right {
     	margin-top: 30px; 
	}
	.col1,
	.col2 {

		padding:0;
	}


/*************** 
MOORE PLACE 
****************/

	.videoSol {
		float: left;
		width: %;
	}

	.header-moore .bluebox {
		float: right;
		width: 50%;
		padding: 33px;
	}

}