@media screen and (min-width:1000px){
	.desktop {
		display: block;
	}
	.hero .wrap {
		height: 450px;
		background-size: cover;
	}
	#hero , #hero  .owl-stage-outer{
	    width: 970px !important;
	    height: 400px !important;
	}
	#hero .owl-item:not(.center) img {
		height: 270px;
		width: auto;
	}
	#hero .owl-item.center img {
		height: 400px;
		width: auto
	}
	#hero .owl-nav .owl-prev{
		left: 187px;
	}
	#hero .owl-nav .owl-prev, #hero .owl-nav .owl-next{
		bottom: -13px;
	}
	.num {
		bottom: 35px;
	}
	.review .wrap {
		height: 270px;
	}
	#testimonials {
		width: 790px;
	}
	#testimonials .owl-dots {
		margin: 0;
		width: auto;
		left: auto;
		right: -45px;
		top:50%;
		transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
	}
	#testimonials .owl-dots .owl-dot{
		display: block;
	}
	#testimonials .item {
    	width: 790px !important;
    }
	.kathy .wrap {
		padding-left:65px;
	}
	.kathy .quote {
		width: auto;
	}
	.kathy p {
		font-size: 24px;
	}
	.whisper .wrap {
		padding: 73px 20px;
	}
	.bio {
		max-width: calc(100% - 290px);
		max-width: -webkit-calc(100% - 290px);
		max-width: -moz-calc(100% - 290px);
	}
	.about .container {
		position: relative;
	}
	.polaroids {
		position: absolute;
		right: 0;
		top: 220px;
	}
	.polaroids img{
		margin-left:auto;
	}
	.polaroids img:nth-of-type(2){
		margin:50px 0;
		display: block;
	}
	.container.thsh .hero{
		padding-bottom: 20px;
	}
	.container.thsh .hero .right img{
		height: 390px;
		width: auto;
	}
	.container.thsh .hero .left {
		padding: 40px 0px 0px 50px;
	}
	.thsh .hero .right {
		margin:0;
	}
	.contact .hero .wrap {
		height: 340px;
	}
	.feeds .wrap, .t-timeline, .i-timeline {
		height: 450px;
	}
	.t-timeline h6 {
		padding-top: 60px;
	}
}