@media (min-width:768px){
	.mobile {
		display: none;
	}
	.tablet {
		display: block;
	}
/*	.wrap {
		padding:0;
	}*/
	.nav {
		padding-top: 0;
		position: static;
		width: 100%;
		background: #fff;
		height: auto;
	}
	.secondary {
		height: 120px;
		position: static;
	}
	.secondary .left, .secondary .right {
	    position: static;
	    width: auto;
	}

	.secondary .wrap {
		padding: 40px 0;
		border-bottom: 1px solid #d9d9d9;
	}
	.social a {
		width: 30px;
		height: 30px;
		border-radius: 50%;
		text-decoration: none;
		background: #71b4d5;
		cursor: pointer;
		display: block;
	    margin-left: 5px;
	    float: left;
	    margin-top: 5px;
	}

	.secondary .left {
		position: absolute;
	    top: 50%;
	    transform: translateY(-50%);
	    -webkit-transform: translateY(-50%);
	    -moz-transform: translateY(-50%);
	    bottom: auto;
	}
	
	.secondary .right a, .secondary .button {
		font: bold 10px/37px 'futura-pt', verdana, sans-serif;
		color: #999;
		display: inline-block;
		padding-right: 22px;
		text-transform: uppercase;
		float: none;
		width: auto;
		margin-left: 0;
		line-height: 40px;
	}
	.secondary .right a:hover, .secondary .button:hover {
		 color:#71b4d5;
	}
	.secondary .button {
		padding-right: 0;
		margin-left: 5px;
		width: 140px;
		line-height: 37px;
		border-color: #999;
		cursor: pointer;
	}
	.secondary .button:hover {
		border:1px solid #71b4d5;
		color: #71b4d5;
	}

	.home.tablet img{
		width: 150px;
		position: absolute;
		left: 0;
	    right: 0;
		margin:auto;
		top: 50%;
	    transform: translateY(-50%);
	    -webkit-transform: translateY(-50%);
	    -moz-transform: translateY(-50%);
	}
	.scroll .home.tablet img{
		width:120px;
	}
	.primary {
		height: 90px;
	}
	.primary .wrap {
		max-width: 920px;
		margin: auto;
		display: table;
	}
	.primary a {
		display: table-cell;
		text-align: center;
		color: #487497;
		width: 20%;
		line-height:90px; 
	}
	.primary a:hover {
		color: #71b4d5;
	}
	.r {
		height: 210px;
		position: relative;
	}
	.r.scroll {
		height: 130px;
	}
	nav.scroll .primary a{
		line-height: 50px
	}
	nav.scroll .primary {
		height: 50px;
	}
	nav.scroll .secondary {
		height: 80px;
	}
	nav.scroll .secondary .wrap{
		padding:20px 0;
	}
	.hero .right{
		max-width: 290px;
	}
	.hero .wrap {
		height: 350px;
		background-size: 100% 400px;
	}
	#hero, #hero #hero .owl-stage-outer{
	    width: 100% !important;
	    height: 400px !important;
	    padding-top: 20px;
	}
	#hero  .owl-item:not(.center) img {
		width: 400px;
		
	}
	#hero  .owl-item.center img {
		width: 600px;
	}
	#hero  .owl-nav .owl-prev, #hero .owl-nav .owl-next{
	    bottom: -4px;
	}
	.num {
		position: absolute;
		left:150px;
		bottom: 30px
	}
	#hero .owl-nav .owl-prev, #hero .owl-nav .owl-next{
		bottom: 33px;
	}
	#hero .owl-nav .owl-prev{
		left: 187px;
	}
	#hero .owl-nav .owl-next{
		left: 253px;
	}
	.book .wrap {
		display: table;
		height: 450px;
	}
	.book .wrap > div {
		display: table-cell;
		width: 50%;
		vertical-align: middle;
	}
	.book .left img{
		width: 	auto;
		position: static;
	}
	.book .left{
		padding: 15px;

	}
	.review .wrap {
		height: 300px;
	}
	#testimonials .item {
		padding-top: 67px;
	}
	.kathy .wrap {
		height: 350px;
	}
	.kathy .quote {
		width:50%;
		max-width: 620px;
		position: absolute;
		top:50%;
		transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
	}
	.kathy img {
		width: auto;
		height:100%;
		display: block;
		right: 0;
		position: absolute;
		bottom: 0;
	}
	.quote img {
	    bottom: -69px;
	  	width: 300px;
	  	height: auto;
	}
	.news .wrap {
		display: table
	}
	.news #mc_embed_signup .mc-field-group input{
		width: 330px;
	}
	#mc_embed_signup {
		display: table-cell;
		width: 66%;
		vertical-align: middle;
	}
	#mc_embed_signup_scroll {
		display: table;
	}
	.news #mc_embed_signup .mc-field-group input[type="email"]{
	    margin: 0 20px;
	}
	.news .text, #mc_embed_signup .button, .news #mc_embed_signup .mc-field-group{
		display: table-cell;
		width: 33%;
	}
	#mc_embed_signup .button{ 
		margin-top: 20px !important;
	}
	.buy .wrap{
		padding: 11px 60px;
	}
	.buy p, .buy h3 {
		width: calc(100% - 300px);
		width: -webkit-calc(100% - 300px);
		width: -moz-calc(100% - 300px);
		float: left;
		margin: 0;
	}
	.buy .button {
		 position: absolute;
	    right: 20px;
	    top: 50%;
	    transform: translateY(-50%);
	    -webkit-transform: translateY(-50%);
	    -moz-transform: translateY(-50%);
	    margin: 0;
	}
	/*ABOUT
	______________________*/
	.about .hero {
		margin-top: 0px;
	}
	.about .words h3, .contact .words h3 {
		padding: 25px 0 10px;
		font-size: 28px;
	}
	/*BOOK
	_________________________*/
	.thsh .hero .left {
		float: left;
		width: 60%;
	}
	 .thsh .hero .right {
	 	float: right;
	    margin-top: 150px;
	    margin-right: 20px;
	 }
	 /*CONTACT*/
	 .feeds .wrap {
	 	display: table;
	 }
	 .t-timeline, .i-timeline {
		width: 50%;
		display: table-cell
	}
	 .i-timeline {
	 	padding: 30px 75px;
	}
	.feeds .wrap, .t-timeline, .i-timeline {
		height: 360px;
	}
}
@media (min-width: 820px){
	.popup{
		margin: 10px auto;
	}
}
@media (max-width:1020px){
	.secondary .wrap {
		padding-left: 10px;
		padding-right: 10px;
	}
}
@media (min-width:1000px){
	.hero .left {
		width:60%;
		padding: 40px 50px;
	}
	.hero .right {
		padding:85px 20px 50px;
		max-width: none;
	}
	.buy p {
		max-width: 740px;
	}
	.buy .button {
		right:115px;
	}
	.hero .right img{
		max-width: 290px;
		display: block;
		margin:auto;
	}
	.hero .right {
		width:40%;
	}
}