@media screen and (min-width: 768px){

	.col1 {
		float: left;
		width: 55%;
		padding-right: 40px;
	}

	.col2 {
		float: right;
		width: 45%;
	}

	.col1,
	.col2 {
		margin-top: 40px;
	}

	.quote-block h6 {
		padding-bottom: 10px;
	}

	.thsh .hero .right {
    	max-width: none;
    	width: calc(40% - 20px);
    	margin-top: 30px;
}

	/* PRE-ORDER BOX */

	.pre-order {
		background-color: #3F7398;
		
	}
	

	.container-box {
		text-align: left;
	}

	/* AUTHOR VIDEO BOX */

	

	/* READERS GUIDE */

	.readersguide {
		background-color: #BCD8D7;
		height: 83px;

}

	.readersguide::before {
	content: url(../img/bookicon.png);
	position: absolute;
	bottom: 0;
}

	.readersguide::after {
		content: url(../img/arrowright.png);
		position: absolute;
		bottom: 0.1px;
	
}

/*************** 
MOORE PLACE 
****************/

	.videoSol {
		float: left;
		width: 45%;
	}

	.header-moore .bluebox {
		float: right;
		width: 50%;
		padding: 33px;
	}

	.main-content {
		float: left;
		width: 65%;
	}

	.img-with-text {
		float: right;
		width: 35%;
		padding-top: 30px;
	}

	.about-moore {
		padding-bottom: 110px;
	}

	.about-moore p {
		text-align: left;

		}

	.about-moore::after {
		content: url(../img/arrowright.png);
		position: absolute;
    	bottom: 83px;
    	left: 50px;
	}

	.about-moore h6 {
		text-align: left;
	}


	/* Quotes */

	.moore-quotes .quote-block {
		margin: 25px;
		padding-top: 25px;
	}

	.moore-quotes {
		padding-bottom: 130px;
	}

	.moore-carousel {
		margin-left: -25px;
		margin-right: -31px;
	}

	.moore-carousel .item  {
		display: inline-block;
		float: left;
		width: 33%;
	}

	.item #slide-1,
	.item #slide-2,
	.item #slide-3,
	.item #slide-4,
	.item #slide-5,
	.item #slide-6,
	.item #slide-7,
	.item #slide-8,
	.item #slide-9 {
		width: 100%;
	}

	.resources .col1 {
		width: calc(100% - 270px);
		width: -webkit-calc(100% - 270px);
		width: -moz-calc(100% - 270px);
	}

	.resources .col2 {
		width: 270px;
	}

	.mobile {
		display: none;
	}

	.jumbo-tron {
		min-height: 470px;
	}

	.jumbo-tron h1 {
		padding: 35px;
	}
}










}
