@media screen and (min-width: 768px){

	.col1 {
		float: left;
		width: 60%;
		padding-right: 40px;
	}

	.col2 {
		float: right;
		width: 40%;
	}

	.col1,
	.col2 {
		margin-top: 40px;
	}

	.quote-block h6 {
		padding-bottom: 10px;
	}

	.thsh .hero .right {
    	max-width: none;
    	width: calc(40% - 20px);
    	margin-top: 30px;
}

	/* PRE-ORDER BOX */

	.pre-order {
		background-color: #3F7398;
		
	}
	

	.container-box {
		text-align: left;
	}

	/* AUTHOR VIDEO BOX */

	

	/* READERS GUIDE */

	.readersguide {
		background-color: #BCD8D7;
		height: 83px;

}

	.readersguide::before {
	content: url(../img/bookicon.png);
	position: absolute;
	bottom: 0;
}

	.readersguide::after {
		content: url(../img/arrowright.png);
		position: absolute;
		bottom: 0.1px;
	
}

/*************** 
MOORE PLACE 
****************/

	.videoSol {
		float: left;
		width: 45%;
	}

	.header-moore .bluebox {
		float: right;
		width: 50%;
		padding: 33px;
	}

	.main-content {
		float: left;
		width: 65%;
	}

	.img-with-text {
		float: right;
		width: 35%;
		padding-top: 30px;
	}

	.about-moore p {
		text-align: left;

		}

	.about-moore::after {
		content: url(../img/arrowright.png);
		position: absolute;
    	bottom: -3px;
    	left: 50px;
	}

	.about-moore h6 {
		text-align: left;
	}
}














}
